.header {
    nav {
        &.navbar-light {
            -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            z-index: 99;
            background-color: #fff!important;
        }
    }
    .navbar .dropdown .dropdown-menu {
        background: #06afa9;/*#036461*/
    }
    .navbar .dropdown .dropdown-menu a:hover{color: #fff}
}

@media only screen and (min-width: 992px) { /*768*/
    .header {
        position: relative;
        nav {
            &.navbar-light {
                min-height: 105px;
                .navbar-brand {
                   order: 2;
                   img {
                    display: block;
                    position: absolute;
                    top: -30px;
                    right: 85px;
                    z-index: 999;
                   } 
                }
                .navbar-collapse {
                   order: 1; 
                //    float:right;
                    ul.navbar-nav {
                        li.dropdown {
                            &.show {
                                .dropdown-menu.show {
                                    display: block;
                                }
                            }
                            &:hover {
                                .dropdown-menu {
                                    //display: block;
                                    &.dropdown-submenu {
                                        display: none;
                                    }
                                }
                            }
                            &.sub-dropdown {
                                &:hover {
                                    .dropdown-menu {
                                        &.dropdown-submenu {
                                            display: block;
                                        }
                                        &.dropdown-sub-submenu {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &.fl-sub-dropdown {
                                &:hover {
                                    .dropdown-menu {
                                        &.dropdown-sub-submenu {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        } 
                   }
                }
                &.fixed {
                    position: fixed;
                    z-index: 999; /*2*/
                    width: 100%;
                    top:0;
                    height: 90px;
                    min-height: unset;
                    .navbar-brand {
                        img {
                            height:90px;
                            position: relative;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu {
        width: 230px;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,.07);
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,.07);
        margin: 0;
        padding: 0;
    }
    .dropdown-item {
        white-space: unset;
        color: #000;
        padding: 0.25rem 0.8rem;
        border-bottom: 1px solid #ddd;
        &:hover {
            background-color: #3eb2b1;
            color: #fff;
        }
    }
    .navbar-expand-md .navbar-nav .dropdown-menu.dropdown-submenu {
        position: absolute;
        left: 100%;
        top: 0;
    }
    .navbar-expand-md .navbar-nav .dropdown-submenu-title{
        padding: 0.25rem 0.8rem;
        color: #000;
        display: block;
        border-bottom: 1px solid #ddd;
        white-space: unset;
        &:hover {
            text-decoration: none;
            background-color: #3eb2b1;
            color: #fff;
        }
        &:after {
            border-left: 0.3em solid;
            border-top: 0.3em solid transparent;
            border-right: 0;
            border-bottom: 0.3em solid transparent;
            position: absolute;
            right: 0.8rem;
            top: 0.8rem;
        }
    } 
    .navbar-expand-md .navbar-nav .dropdown-menu.dropdown-sub-submenu {
        position: absolute;
        left: 100%;
        top: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header nav.navbar-light .navbar-brand img {
        top: -35px;
        right: 10px;
    }
    .navbar-light ul.navbar-nav li.nav-item .nav-link {
        padding-right: 4px;
        padding-left: 4px;
        font-size: 15px;
    }
    .header nav.navbar-light .container {
        padding: 0;
        max-width: 100%;
    }
    .dropdown-toggle:after {
        margin-left: 0.055em;
    }
    .navbar-light ul.navbar-nav li.nav-item .dropdown-menu .nav-link {
        padding: 0.25rem 0.8rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .navbar-expand-md .container{
        flex-wrap: wrap;
    }
    .header nav.navbar-light .navbar-brand {
        order: 1;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .header nav.navbar-light .navbar-brand img {
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        z-index: 999;
    }
    .navbar-expand-md .navbar-toggler {
        display: block;
        order: 2;
    }
    .header nav.navbar-light .navbar-collapse {
        order: 3;
    }
    .navbar-expand-md .navbar-collapse {
        flex-basis: 100%;
    }
    .collapse:not(.show) {
        display: none!important;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header nav.navbar-light .navbar-brand {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
@media only screen and (max-width: 575px) {
    .header nav.navbar-light .navbar-brand {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .header .container {
        // padding-left: 15px;
        // padding-right: 15px;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
@media only screen and (max-width: 411px) { 
    .header nav.navbar-light .navbar-brand {
        width: 75%;
    }
}
@media only screen and (max-width: 320px) { 
    .header nav.navbar-light .navbar-brand {
        width: 70%;
    }
}


















.top-bar {
    padding: 8px 0;
    background: #CEF5F5;
    position: relative;
    overflow: hidden;
    ul {
        margin-bottom: 0px;
        padding: 0;
        list-style: none;
        float: right; /*right*/
        li {
            margin-right: 20px;
            display: inline-block;
            a {
                color: #000;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
                i {
                    font-weight: 400;
                    margin-right: 8px;
                }
                // &:before {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: -90px;
                //     height: 100%;
                //     border-right: 1px solid #fff;
                // }
            }
            &:last-child {
                margin-right: 0px;
            }
            &:first-child { 
                a { 
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    // &:after {
    //     content: " ";
    //     z-index: 99;
    //     position: absolute;
    //     display: block;

    //     height: 100%;
    //     top: 0;
    //     // right: -30px; /*-60px*/
    //     /*z-index: -1;*/
    //     background: #fff;
    //     transform-origin: bottom left;
    //     // -ms-transform: skew(-32deg, 0deg);
    //     // -webkit-transform: skew(-32deg, 0deg);
    //     // transform: skew(-32deg, 0deg); /*skew(-32deg, 0deg)*/
    // }
}    

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-bar:after {
        width: 370px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-bar:after {
        width: 370px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-bar:after {
        width: 190px;
    }
}
@media only screen and (max-width: 575px) {
    .top-bar {
        text-align: center;
    }
    .top-bar:after {
        width: 0;
        right: 0;
        transform: none;
    }
    .top-bar[_ngcontent-ng-c3999863831] ul[_ngcontent-ng-c3999863831] {
        float: none;
    }
}
@media only screen and (max-width: 411px) { 
    .top-bar ul li a:before {
        display: none;
    }
}
@media only screen and (max-width: 393px) { 
    .top-bar ul li {
        margin-right: 0;
        display: block;
    }
    .top-bar {
        padding: 5px 0;
    }
}
@media only screen and (min-width: 1400px) { 
    .top-bar ul li {
        margin-right: 40px;
    }
    .top-bar ul li a:before {
        left: -20px;
    }
}


:host {
    display: contents;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: 575px;
    color: #fff;
    padding: 80px;
  }
  @media (max-width: 991px) {
    .main-section {
      padding: 0 20px;
    }
  }
  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .title {
    position: relative;
    margin-top: 150px;
    font: 700 44px/59% "SF Pro Display", sans-serif;
  }
  @media (max-width: 991px) {
    .title {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .description {
    position: relative;
    text-align: center;
    margin-top: 25px;
    width: 740px;
    font: 400 22px/32px "Lato", sans-serif;
  }
  @media (max-width: 991px) {
    .description {
      max-width: 100%;
    }
  }

//   .container{
//     display: flex;
//     margin-left: auto;
//   }