<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #CEF5F5;">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="text-center">
      <!-- Grid row -->
      <div class="row ml-5 mr-5">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 mt-2 col-xl-3 mb-md-0 mb-4 text-center d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="col flex flex-col justify-content-center align-items-center mb-4">
          <img src="../../assets/Logo (1).png" alt="" style="width: 10rem;">
          <!-- Optional paragraph content -->
          <p class="text-left mt-2" style="font: 300 14px/20px 'Lato', sans-serif;color:#000000; width:12rem">
            1st Floor, Malles manor No.19
            (Old No.8-A), Periyar Road, T.Nagar, Chennai – 600 017, Tamilnadu, India.
          </p>
        </div>
        </div>
        
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-4 mb-4 text-left mt-10">
          <!-- Links -->
          <h6 class="fw-bold mb-2 text-black font-medium" style="font: 400 20px/20px 'Lato', sans-serif;color:#000000">
            Useful Links
          </h6>
          <div class="contact-divider"></div>
          <div class="row mt-3">
            <div class="col-6">
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;">Home</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Director’s Massage</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Submit CV Online</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Conference</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Library</a>
              </p>
            </div>
            <div class="col-6">
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">About</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Service's & Support</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Events</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Contact Us</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000">Work with Bet Medical</a>
              </p>
            </div>
          </div>

        </div>

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4 text-left mt-10">
          <!-- Links -->
          <h6 class="fw-bold mb-2 text-black font-medium" style="font: 400 20px/20px 'Lato', sans-serif;color:#000000">
            Contact us
          </h6>
          
          <div class="contact-divider"></div>
          <!-- <div class="row mt-4 ml-1">
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Office 1&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;+91-44-28344639</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Office 2&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;+91-44-28344640</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Office 3&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;+91-44-28344641</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   :&nbsp;&nbsp;&nbsp;general@betmedical.com</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Sale&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;sales@betmedical.com</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 310 16px/20px 'Lato', sans-serif;color:#000000">Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;service@betmedical.com</a>
          </p>
            </div> -->
            <div class="contact-info mt-3" >
              <p>
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;" >
                  <span class="label">Office 1</span>
                  <span class="colon">:</span>
                  <span class="value">+91-44-28344639</span>
                </a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Office 2</span>
                  <span class="colon">:</span>
                  <span class="value">+91-44-28344640</span>
                </a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Office 3</span>
                  <span class="colon">:</span>
                  <span class="value">+91-44-28344641</span>
                </a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Email</span>
                  <span class="colon">:</span>
                  <span class="value">general@betmedical.com</span>
                </a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Sale</span>
                  <span class="colon">:</span>
                  <span class="value">sales@betmedical.com</span>
                </a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="font: 300 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Service</span>
                  <span class="colon">:</span>
                  <span class="value">service@betmedical.com</span>
                </a>
              </p>
            </div>
            
        </div>
        <!-- Grid column -->

        <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4 text-left mt-10 ">
          <!-- Links -->
          <h2 class="fw-bold mb-2 text-black font-medium"  style="font: 400 20px/20px 'Lato', sans-serif;color:#000000">
            Get in Touch
          </h2>
          <div class="contact-divider"></div>
          <div class="contact-icons">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1c9e79351d8b7deb33aedd3c7fae630867ebce95b4d2a25672973986d805784b?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 1 icon" class="contact-icon" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5bcdb28e44b95c1ebadc9ee12f8d4b332e18e0f1e6b5ba11c2c6687c2b77363d?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 2 icon" class="contact-icon" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1bb500ab773e2573a5a8ae2a392b8c60c7c8766b3c68a0e3b67a61dd5279d69a?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 3 icon" class="contact-icon" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f36c429fcc171d39cc4635bf33b42dfadc1c4110df4b4630eca1071d23bffe0?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 4 icon" class="contact-icon" />
          </div>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr style="color: #979797; border-color: #979797; border-width: 1px; height: 1px; font-weight: ;" />

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0);">
    © 2024 | Bet Medical | IcebergMalav | All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->