<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #CEF5F5;">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="text-center">
      <!-- Grid row -->
      <div class="row ml-4 mr-4">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 mt-4 col-xl-3 mb-md-0 mb-4 text-center d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="col flex flex-col justify-content-center align-left-on-desktop mb-4">
            <img src="../../assets/Logo.svg" alt="" style="width: 10rem;">
         
            <p class="text-left mt-2" style="font: 400 14px/20px 'Lato', sans-serif;color:#000000; width:12rem">
             1st Floor, Malles manor No.19
            (Old No.8-A), Periyar Road, T.Nagar, Chennai – 600 017, Tamilnadu, India.
            </p>
          </div>
        </div>
        
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-4 mb-4 text-left mt-10">
          <!-- Links -->
          <h6 class="fw-bold mb-2 text-black font-medium" style="font: 400 20px/20px 'Lato', sans-serif;color:#000000">
            Useful Links
          </h6>
          <div class="contact-divider"></div>
          <div class="row mt-3">
            <div class="col-6">
              <!-- <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000;">Home</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Director’s Massage</a>
              </p> -->
              <p style="margin-bottom: 4px;">
                <a href="/submit-cv-online" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Submit CV Online</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="/conferences" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Conference</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="https://admin.betmedical.com/login" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Library</a>
              </p>
            </div>
            <div class="col-6">
              <!-- <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">About</a>
              </p> -->
              <p style="margin-bottom: 4px;">
                <a href="/services-support" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Service's & Support</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="/events" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Events</a>
              </p>
              <!-- <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Contact Us</a>
              </p>
              <p style="margin-bottom: 4px;">
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000">Work with Bet Medical</a>
              </p> -->
            </div>
          </div>

        </div>

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4 text-left mt-10">
          <!-- Links -->
          <h6 class="fw-bold mb-2 text-black font-medium" style="font: 400 20px/20px 'Lato', sans-serif;color:#000000">
            Contact us
          </h6>
          
          <div class="contact-divider"></div>
          <!-- <div class="row mt-4 ml-1">
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Office 1&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;+91-44-28344639</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Office 2&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;+91-44-28344640</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Office 3&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;+91-44-28344641</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   :&nbsp;&nbsp;&nbsp;general@betmedical.com</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 320 16px/20px 'Lato', sans-serif;color:#000000">Sale&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;sales@betmedical.com</a>
          </p>
          <p style="margin-bottom: 4px;">
            <a href="#!" class="text-reset " style="font: 310 16px/20px 'Lato', sans-serif;color:#000000">Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;service@betmedical.com</a>
          </p>
            </div> -->
            <div class="contact-info mt-3" >
              <p>
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000;" >
                  <span class="label">Office 1</span>
                  <span class="colon">:</span>
                  <span class="value">+91-44-28344639/40/41</span>
                </a>
              </p>
              <!-- <p>
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Office 2</span>
                  <span class="colon">:</span>
                  <span class="value">+91-44-28344640</span>
                </a>
              </p>
              <p>
                <a href="#!" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif;color:#000000;">
                  <span class="label">Office 3</span>
                  <span class="colon">:</span>
                  <span class="value">+91-44-28344641</span>
                </a>
              </p> -->
              <p>
                <a href="mailto:general@betmedical.com" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif; color:#000000;">
                  <span class="label">Email</span>
                  <span class="colon">:</span>
                  <span class="value">general@betmedical.com</span>
                </a>
              </p>
              <p>
                <a href="mailto:sales@betmedical.com" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif; color:#000000;">
                  <span class="label">Sale</span>
                  <span class="colon">:</span>
                  <span class="value">sales@betmedical.com</span>
                </a>
              </p>
              <p>
                <a href="mailto:service@betmedical.com" class="text-reset" style="font: 400 16px/20px 'Lato', sans-serif; color:#000000;">
                  <span class="label">Service</span>
                  <span class="colon">:</span>
                  <span class="value">service@betmedical.com</span>
                </a>
              </p>
              
            </div>
            
        </div>
        <!-- Grid column -->

        <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4 text-left mt-10 ">
          <!-- Links -->
          <h2 class="fw-bold mb-2 text-black font-medium"  style="font: 400 20px/20px 'Lato', sans-serif;color:#000000">
            Get in Touch
          </h2>
          <div class="contact-divider"></div>
          <div class="contact-icons">
            <a href="#" target="_blank">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c341199dc6aa6c0912bf5daa4aa978ec25b4fde27bb70658dbd7a218024cb9d?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" class="shrink-0 w-8 aspect-square" alt="Gallery image 1" />
            </a>
            <a href="https://www.instagram.com/bet_medical/" target="_blank">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6194736ce0833019bec20ec7f84e90ef952db6f525a7d4494f8cb488a4d08de0?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" class="shrink-0 w-8 aspect-square" alt="Gallery image 2" />
            </a>
            <a href="https://www.linkedin.com/company/bet-medical-p-ltd/?originalSubdomain=in" target="_blank">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f47fa92ff9a5f601a037ede97054e5c3f8823a29d7b7c30834c3446ecb9872e?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" class="shrink-0 w-8 aspect-square" alt="Gallery image 3" />
            </a>
            <a href="https://www.youtube.com/@betmedical7645" target="_blank">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b0864262dec45a61a1e0851b124066f02b673281c9b94ea7298ab6cdafbc8ff?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" class="shrink-0 w-8 aspect-square" alt="Gallery image 4" />
            </a>
          </div>
          
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr style="color: #979797; height: 1px;" />

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0); font-size: 14px;">
    © 2024 | Bet Medical | IcebergMalav | All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->