<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #CEF5F5;">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="text-center">
      <!-- Grid row -->
      <div class="row ml-5 mr-5">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mb-md-0  mb-5 text-center mt-10 d-flex justify-content-center align-items-center">
          <!-- Content -->
           <div class="col justify-content-center align-items-center">
          <img src="../../assets/Group 1000001924.png" alt="" style="width: 10rem;">
          <!-- Optional paragraph content -->
          <p>
            1st Floor, Malles manor No.19 (Old No.8-A), Periyar Road, T.Nagar, Chennai – 600 017, Tamilnadu, India.
          </p>
        </div>
        </div>
        
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-6 col-xl-4 mb-4 text-left mt-10">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2 text-black font-medium">
            Useful Links
          </h6>
          <div class="contact-divider"></div>
          <div class="row">
            <div class="col-6">
              <p>
                <a href="#!" class="text-reset">Home</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Director’s Massage</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Submit CV Online</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Conference</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Library</a>
                
              </p>
            </div>
            <div class="col-6">
              <p>
                <a href="#!" class="text-reset">About</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Service's & Support</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Events</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Contact Us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Work with Bet Medical</a>
              </p>
            </div>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mb-4 text-left mt-10">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2 text-black font-medium">
            Contact us
          </h6>
          <div class="contact-divider"></div>
          <p>
            <a href="#!" class="text-reset ">Office 1 : +91-44-28344639</a>
          </p>
          <p>
            <a href="#!" class="text-reset ">Office 2 : +91-44-28344640</a>
          </p>
          <p>
            <a href="#!" class="text-reset ">Office 3 : +91-44-28344641</a>
          </p>
          <p>
            <a href="#!" class="text-reset ">Email : general@betmedical.com</a>
          </p>
          <p>
            <a href="#!" class="text-reset ">Sale : sales@betmedical.com</a>
          </p>
          <p>
            <a href="#!" class="text-reset ">Service : service@betmedical.com</a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4 text-left mt-10 ">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-2 text-black font-medium">
            Get in Touch
          </h2>
          <div class="contact-divider"></div>
          <div class="contact-icons">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1c9e79351d8b7deb33aedd3c7fae630867ebce95b4d2a25672973986d805784b?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 1 icon" class="contact-icon" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5bcdb28e44b95c1ebadc9ee12f8d4b332e18e0f1e6b5ba11c2c6687c2b77363d?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 2 icon" class="contact-icon" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1bb500ab773e2573a5a8ae2a392b8c60c7c8766b3c68a0e3b67a61dd5279d69a?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 3 icon" class="contact-icon" />
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f36c429fcc171d39cc4635bf33b42dfadc1c4110df4b4630eca1071d23bffe0?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Contact method 4 icon" class="contact-icon" />
          </div>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr class="bg-danger border-2 border-top border-black" />
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0);">
    © 2024 | Bet Medical | IcebergMalav | All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->