
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@500;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:host {
    display: contents;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 158px;
  }
  .contact-title {
    color: var(--Dark, #0a142f);
    font: 600 20px 'Lato', sans-serif;
    margin: 0;
  }
  .contact-divider {
    width: 20%;
    height: 2px;
    background-color: #3eb2b1;
    border-radius: 2px;
    // margin-top: 2px;
    margin-bottom: 5px;
    // padding-bottom: 5px;
  }
  .contact-icons {
    display: flex;
    gap: 10px;
    margin-top: 17px;
  }
  .contact-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
  }


  .contact-info p {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font: 320 15px/20px 'Lato', sans-serif;
    color: #000000;
  }
  
  .contact-info .label {
    display: inline-block;
    width: 60px; /* Fixed width for alignment, adjust as necessary */
  }
  
  .contact-info .colon {
    margin: 0 10px; /* Space around the colon */
  }
  
  .contact-info .value {
    flex: 1;
  }
  
  .align-left-on-desktop {
    align-items: flex-start;
}

/* Custom CSS for small devices (max-width: 767.98px) */
@media (max-width: 767.98px) {
    .align-left-on-desktop {
        align-items: center;
        text-align: center; /* Center text content */
    }
    .logo-img {
        // margin: 0 auto; /* Center the image */
        // align-items:flex-start
    }
    .custom-paragraph {
        text-align: center;
        width: auto; /* Adjust width to content */
    }
}