<!-- <owl-carousel-o [options]="partnersliderOptions">
    <ng-template carouselSlide>

        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001874 (1).jpg" style="width:60%" height="50%"/>
        </div>

    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001874.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001875.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (1).jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (2).jpg" style="width:60%"  />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (3).jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (4).jpg" style="width:60%" />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (5).jpg" style="width:60%" />
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (6).jpg" style="width:60%"  />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (7).jpg" style="width:60%" />
        </div>
    </ng-template>  
</owl-carousel-o> -->



<owl-carousel-o [options]="partnersliderOptions">
    <!-- <ng-template carouselSlide class="justify-content-center">

        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Group 1000001877.png"/>
        </div>

    </ng-template> -->
    <!-- <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/p4/"  />
        </div>
    </ng-template> -->
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/p4/Frame 1000001962.png"  style="width: 80%;"/>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/p4/Frame 1000001961.png" style="width: 80%;"/>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center !carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001960.png"style="width: 80%;" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center !carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001959.png"style="width: 80%;" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center !carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001958.png" style="width: 80%;" />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001957.png" style="width: 80%;" />
        </div>
    </ng-template> 
    <!-- <ng-template carouselSlide>
        <div class="d-flex justify-content-center carousel-item">
            <img src="../../../assets/images/home/partners3/Rectangle 5380.png" style="width:60%"  />
        </div>
    </ng-template>   -->
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001956.png" style="width: 80%;" />
        </div>
    </ng-template>  
    <ng-template carouselSlide >
        <div class="d-flex justify-content-center carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001954.png"style="width: 80%;"/>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center carousel-item">
            <img src="../../../assets/images/home/p4/Frame 1000001953.png"style="width: 80%;"/>
        </div>
    </ng-template>  
    <!-- <ng-template carouselSlide>
        <div class="d-flex justify-content-center carousel-item">
            <img src="../../../assets/images/home/p5/Frame 1000001941 (1).png" style="width: 80%;"/>
        </div>
    </ng-template>   -->
</owl-carousel-o>
