<!-- <owl-carousel-o [options]="partnersliderOptions">
    <ng-template carouselSlide>

        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001874 (1).jpg" style="width:60%" height="50%"/>
        </div>

    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001874.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001875.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (1).jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (2).jpg" style="width:60%"  />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (3).jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (4).jpg" style="width:60%" />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (5).jpg" style="width:60%" />
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (6).jpg" style="width:60%"  />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (7).jpg" style="width:60%" />
        </div>
    </ng-template>  
</owl-carousel-o> -->



<owl-carousel-o [options]="partnersliderOptions">
    <ng-template carouselSlide>

        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Group 1000001877.png"/>
        </div>

    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/logo (1).png"  />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/image 21.png"  />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/TUV.jpg" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Rectangle 5322 (1).png" style="width:60%"  />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Rectangle 5322 (2).png" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Rectangle 5322.png" style="width:60%" />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Rectangle 5323.png" style="width:60%" />
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Rectangle 5380.png" style="width:60%"  />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners3/Rectangle 5381.png" style="width:60%" />
        </div>
    </ng-template>  
</owl-carousel-o>
