<owl-carousel-o [options]="partnersliderOptions">
    <ng-template carouselSlide>

        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001874.svg" style="width:60%" height="50%"/>
        </div>

    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Group 1000001875.svg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/image 17.svg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/image 19.svg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/image 21.svg" style="width:60%"  />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/image 22.svg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322 (2).svg" style="width:60%" />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5322.svg" style="width:60%" />
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5323.svg" style="width:60%"  />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/images/home/partners2/Rectangle 5381.svg" style="width:60%" />
        </div>
    </ng-template>  
</owl-carousel-o>
