<section class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <!-- <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                      <span class="navbar-toggler-icon"></span>
                    </button> -->
                    <li><a href="mailto:general@betmedical.com"><i class="fa fa-envelope" style="font: 400 16px/26px 'Lato', sans-serif;"></i>general@betmedical.com</a></li>
                    <!-- <li class="vr" style="color: black;width: 2px;"></li> -->
                    <li><a href="tel:+91 4428344639"><i class="fa fa-phone-alt" style="font: 400 16px/26px 'Lato', sans-serif;"></i>+91-44-28344639</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
