@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.portfolio-content {
    display: flex;
    gap: 30px;
    // padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  @media (max-width: 991px) {
    .portfolio-container,
    .portfolio-content,
    .portfolio-item,
    .portfolio-link,
    .load-more {
      width: 100%;
    }
  }
