<!--About Start-->
<section class="about-section pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2 class="main-title">About Us</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about-content">
                    <p>Since 1991 BET Medical is a responsible and innovative organization that has introduced several groundbreaking technologies in the healthcare industry. For instance, the table-top sliding on the operation theatre table, which is now widely used, was first introduced and backed by BET Medical over 25 years ago. Similarly, the first flat panel 3D C-Arm and 4-way motorized flat panel C-arm machines in India and Asia were sold and installed by BET Medical, respectively. First to Introduce Therenva Vascular Fusion Imaging and Navigation workstation.</p>
                    <p>Responsibility is at the core of BET Medical’s operations, starting with not over-selling products and ensuring the use of contemporary technology to add value to customers through better pricing, service, and support. The company’s sales and service teams are dedicated to providing a comprehensive range of products and brands, cementing strong partnerships with principals in Germany, Taiwan, Japan, USA, Italy, and Korea for the past 33 years.</p>
                    <p>With a team of over 100 members across sales, service, application, production, marketing, and support departments, BET Medical has a strong presence in Chennai, Delhi, Bangalore, and other cities, providing engineers to work on projects across the country.</p>
                    <p>BET Medical’s commitment to its customers has made it the preferred choice in the industry, with a focus on providing organic and customer-centric services. The company’s mission, LAMP, stands for “Largest and Most Preferred,” which is reflected in its success, achieving a turnover of 100 Crores last year and looking forward a rapid growth in coming 
                        year.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="abt-img-wrapper">
                    <img src="assets/images/about.jpg" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About End-->

<!--Mission Start-->
<section class="mission-section pad-tb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 large_left">
                <div class="mission-wrap">
                    <div class="mission-img">
                        <div class="mission-inner-img">
                            <img src="assets/images/mission1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 large_right">
                <div class="mission-text">
                    <h2>Mission</h2>
                    <p>To be the <span class="red-text">L</span>argest <span class="red-text">A</span>nd <span class="red-text">M</span>ost <span class="red-text">P</span>referred medical equipment company by winning the confidence of the healthcare industry.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1">
        <img src="assets/images/shape-3.png" alt="">
    </div>
    <div class="shape-2">
        <img src="assets/images/shape-2.png" alt="">
    </div>
</section>
<!--Mission End-->