

<section class="main-section">
  <img
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/7e32b8fdda9b828e91d72699000a32838de9777da190c441cab2c629f79e5bcc?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&"
    alt="Endonaut Fusion Imaging & Navigation"
    class="background-image"
  />
  <h1 class="title">Endonaut Fusion Imaging & Navigation</h1>
  <p class="description">
    Make your or ready for new challenges with Endonaut, unique image
    fusion systems compatible with any imaging modality and C-arm
  </p>
</section>