<section class="main-section">
  <!-- <img
    src="../../../assets/Group 292565.png"
    alt="Endonaut Fusion Imaging & Navigation"
    class="background-image"
  /> -->
  <!-- <video class="background-image" autoplay loop muted playsinline>
    <source src="../../../assets/medical assets_Submission.mp4" type="video/mp4">
    Endonaut Fusion Imaging & Navigation
  </video> -->

  <img
    class="background-image"
    src="../../../assets/giff.gif"
    alt="Endonaut Fusion Imaging & Navigation"
  />

  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
      const video = document.querySelector('.background-image');
  
      // Check if the video is loaded and autoplay it
      if (video) {
        video.muted = true; // Ensure the video is muted for autoplay to work in modern browsers
        video.play().catch(error => {
          console.error('Autoplay prevented:', error);
        });
      }
    });
  </script>
   -->

  <!-- <h1 class="title">Endonaut Fusion Imaging & Navigation</h1>
  <p class="description">
    Make your or ready for new challenges with Endonaut, unique image
    fusion systems compatible with any imaging modality and C-arm
  </p> -->
</section>
