<!--Services Support Start-->
<section class="services-section pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title title-1">
                    <h2 class="main-title">Services & Support</h2>
                </div>
                <div class="services-content">
                    <p>At BET Medical, we understand that providing high-quality medical equipment is just the beginning of our relationship with our customers. That’s why we offer comprehensive services and support to ensure that our customers receive the best possible value from their investment in our products.</p>
                    <h3>Our services and support include:</h3>
                    
                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                            <div class="services-iconbox">
                                <div class="service-image">
                                    <img src="assets/images/services/Installation-and-Training.jpg" />
                                </div>
                                <!-- <div class="services-icon">
                                    <img src="assets/images/services/installation.png" />
                                </div> -->
                                <div class="services-icon-content">
                                    <h4>Installation and Training</h4>
                                    <p>Our expert engineers provide on-site installation and training to ensure that our customers are able to use our equipment to its full potential.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                            <div class="services-iconbox">
                                <div class="service-image">
                                    <img src="assets/images/services/Waranty.jpg" />
                                </div>
                                <!-- <div class="services-icon">
                                    <img src="assets/images/services/warranty.png" />
                                </div> -->
                                <div class="services-icon-content">
                                    <h4>Warranty</h4>
                                    <p>We provide a comprehensive warranty on all of our products to ensure our customers’ peace of mind.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                            <div class="services-iconbox">
                                <div class="service-image">
                                    <img src="assets/images/services/Maintenace-and-Repairs.jpg" />
                                </div>
                                <!-- <div class="services-icon">
                                    <img src="assets/images/services/maintenance1.png" />
                                </div> -->
                                <div class="services-icon-content">
                                    <h4>Maintenance and Repairs</h4>
                                    <p>We offer preventive maintenance plans and on-site repairs to keep our customers’ equipment running smoothly and reduce downtime.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                            <div class="services-iconbox">
                                <div class="service-image">
                                    <img src="assets/images/services/technical-support.jpg" />
                                </div>
                                <!-- <div class="services-icon">
                                    <img src="assets/images/services/technical1.png" />
                                </div> -->
                                <div class="services-icon-content">
                                    <h4>Technical Support</h4>
                                    <p>Our technical support team is available 24/7 to provide assistance and troubleshoot any issues that may arise with our products.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                            <div class="services-iconbox">
                                <div class="service-image">
                                    <img src="assets/images/services/Application-support.jpg" />
                                </div>
                                <!-- <div class="services-icon">
                                    <img src="assets/images/services/application1.png" />
                                </div> -->
                                <div class="services-icon-content">
                                    <h4>Application Support</h4>
                                    <p>We offer application support to help our customers optimize the use of our equipment in their specific medical procedures.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                            <div class="services-iconbox">
                                <div class="service-image">
                                    <img src="assets/images/services/Upgarde-and-accessories.jpg" />
                                </div>
                                <!-- <div class="services-icon">
                                    <img src="assets/images/services/upgrade.png" />
                                </div> -->
                                <div class="services-icon-content">
                                    <h4>Upgrades and Accessories</h4>
                                    <p>We provide upgrades and accessories to help our customers keep their equipment up-to-date and enhance its capabilities.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <p class="mt-3">Our goal is to provide exceptional services and support to our customers to help them achieve the best possible outcomes for their patients. We take pride in our commitment to customer satisfaction and are dedicated to building long-term partnerships with our customers.</p>
                </div>
            </div>
        </div>
        <div class="row">
               
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="section-title title-2 text-center mt-3">
                    <h2 class="main-title">Any Queries? Send Message</h2>
                </div>
                <div class="services-form-wrapper">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="name" id="txtName" placeholder="Name *" class="form-control">
                            </div> 
                            <div class="col-lg-6 col-md-6">
                                <input type="email" name="email" id="txtEmail" placeholder="Email *" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="phone" id="txtPhone" placeholder="Phone Number *" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="enquiryabt" id="txtEnquiryabt" placeholder="Enquiry About *" class="form-control">
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <textarea name="requiremnets" id="txtRequiremnets" placeholder="Tell your Requirements" class="form-control"></textarea> 
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <input type="submit" value="Submit Now" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="section-title title-2 text-center mt-3">
                    <h2 class="main-title">Service Locations</h2>
                </div>
                <div class="services-img-wrapper">
                    <img src="assets/images/services/services-support2.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services Support End-->