<owl-carousel-o [options]="homeproductcategoryOptions">
    <ng-template carouselSlide *ngFor="let slider of sliderItems">
        <div class="hom-single-category">
            <div class="pc-img-wrapper">
                <a [routerLink]="['/category', slider.url]" [title]="slider.title"><img src="{{slider.image}}" [alt]="slider.title"/></a>
            </div>
            <div class="pc-content-wrapper">
                <h3><a [routerLink]="['/category', slider.url]" [title]="slider.title">{{slider.title}}</a></h3>
                <p>{{slider.content}}</p>
                <div class="cusbtn-wrapper">
                    <a [routerLink]="['/category', slider.url]" class="cusbtn" [title]="slider.title">See More</a>
                </div>
            </div>
        </div>
    </ng-template>  
   
</owl-carousel-o>
