<!--Director's Message Start-->
<section class="director-msg pad-tb">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2 class="main-title">Director’s Message</h2>
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="director-img-wrapper">
                    <img src="assets/images/director.png" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="director-content">
                    <h2><span>Message from Director</span></h2>
                    <p>This year BET Medical completes 33 years. We are very happy and proud that BET is acknowledged as a trusted brand. Healthcare is a demanding market and it has not been a smooth journey in the midst of the competing multinational competitors. The acknowledgement of the market is seen in the company crossing the Rs 100 Crore turnover.</p>
                    <p>While starting the company, we were clear about the ideals of the company but clear in our minds right from inceptions. Strong ethical business practices, healthy working environment, frontier technology products and customer centric service is the premise on which BET was started and has been built on. Today we are proud to say that we have carefully nurtured these founding ideals and we are also recognized for this.</p>
                    <p>The ethical business practices adopted and followed has put us in the category of the multinational companies with strong compliance regulations and also carrying out our own brand image.</p>
                    
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="director-content director-content-1">
                    <p>The healthy working environment provided has resulted in more than 40 % of 100 plus employees putting in more than 10 years of service in the organization. Constant drive to use the talents appropriately has led to good growth paths for many executives who have reached higher levels in the organization. Regular connect initiatives have further helped the bonding of employees with one another resulting in higher outputs and lesser wasted energies.</p>
                    <p>BET has the distinction of launching many of its products for the first time in country, and have been established as market leaders. Every product line launched by BET is done after a very extensive and careful study and technical evaluation of the product and manufacturers before launching in the Indian market. Today BET is known for the quality of products offered – safe and reliable.</p>
                    <p>From the beginning we had identified a huge gap in delivery of services to the end customer. Therefore, as a strategy we always wanted to offer committed after sales service. We can confidently say that there will be hardly any customers who will complain of the services offered by BET.</p>
                </div>
            </div>    
        </div>
    </div>
</section>
<!--Director's Message End-->