<!--Director's Message Start-->
<section class="flex flex-col justify-center items-center pad py-10 bg-opacity-70 max-md:px-5" > 
<!-- <section class="director-msg pad-tb"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-10">
                <div class="section-title text-center">
                    <h2 class="" style="font: 600 38px/109% 'SF Pro Display', sans-serif;color: black;">Message From Director’s</h2>
                </div>
            </div>
            <div class="flex gap-5 mt-10 max-md:flex-col max-md:gap-0">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- <div class="director-content"> -->
                    <h2 class="mb-3" style="font: 600 24px/26px 'SF Pro Display', sans-serif;color: black;"><span>Message from Director</span></h2>
                    <p style="font:400 18px/26px 'Lato', sans-serif;color:#4a4a4a">This year BET Medical completes 33 years. We are very happy and proud that BET is acknowledged as a trusted brand. Healthcare is a demanding market and it has not been a smooth journey in the midst of the competing multinational competitors. The acknowledgement of the market is seen in the company crossing the Rs 100 Crore turnover.</p>
                    <p style="font:400 18px/26px 'Lato', sans-serif;color:#4a4a4a">While starting the company, we were clear about the ideals of the company but clear in our minds right from inceptions. Strong ethical business practices, healthy working environment, frontier technology products and customer centric service is the premise on which BET was started and has been built on. Today we are proud to say that we have carefully nurtured these founding ideals and we are also recognized for this.</p>
                    <p style="font:400 18px/26px 'Lato', sans-serif;color:#4a4a4a">The ethical business practices adopted and followed has put us in the category of the multinational companies with strong compliance regulations and also carrying out our own brand image.</p>
                    
                <!-- </div> -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- <div class="director-img-wrapper"> -->
                    <img src="../../../assets/Group 292626.svg" class="img-fluid"/>
                <!-- </div> -->
            </div>
            </div>
            <hr class="shrink-0 mt-16 max-w-full h-px border border-solid bg-zinc-100 border-zinc-100 w-[1268px] max-md:mt-10" />
            <!-- <hr class="shrink-0 mt-15 mb-10"  style="color: #000; height: 10px;" /> -->
            <section class="mt-9 w-full max-w-[1266px] max-md:max-w-full">
              <div class="flex gap-5 max-md:flex-col max-md:gap-0">

                <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                  <article class="grow p-3 w-full bg-teal-100 rounded-lg ">
                    <div class="flex gap-3 max-md:flex-col max-md:gap-0">
                      <div class="flex flex-col w-70 h-100">
                        <div class="flex grow justify-center items-center max-md:mt-10">
                          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad27915325822f32e1fa4d3eb02f90ccfb36fb0e4caae668c8cf5863467671f0?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="John Smith" class="border-white border-solid aspect-[0.93] border-[3px] w-[100px]" />
                        </div>
                      </div>
                      <div class="flex flex-col ml-3 w-100 max-md:ml-0 max-md:w-full">
                        <div class="flex flex-col grow items-start text-black leading-[110%] max-md:mt-10">
                            <h3 style="font: 600 26px/109% 'SF Pro Display', sans-serif;color: black;">John Smith</h3>
                            <p class="mt-2 font-medium" style="font: 14px/109% 'SF Pro Display', sans-serif;color: black;">CEO | BET Medical</p>
                          <p class="self-stretch mt-2 leading-5" style="font:400 12px/18px 'Lato', sans-serif;color:#000">
                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos litora torquent per conubia nostra, per inceptos Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                          </p>
                          <a href="#" class="flex gap-2 justify-between px-4 py-2 mt-4 text-base leading-5 text-gray-900 whitespace-nowrap bg-white rounded border border-teal-400 border-solid">
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ee8dfe4a32f3b3d9538cd71707645b9330a1e3538515dbcfba497fc646462dc6?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="" class="shrink-0 aspect-[0.94] w-[18px]" />
                            <span class="my-auto text-ellipsis">LinkedIn</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                    <article class="grow p-3 w-full bg-teal-100 rounded-lg ">
                      <div class="flex gap-3 max-md:flex-col max-md:gap-0">
                        <div class="flex flex-col w-70 h-100">
                          <div class="flex grow justify-center items-center max-md:mt-10">
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad27915325822f32e1fa4d3eb02f90ccfb36fb0e4caae668c8cf5863467671f0?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="John Smith" class="border-white border-solid aspect-[0.93] border-[3px] w-[100px]" />
                          </div>
                        </div>
                        <div class="flex flex-col ml-3 w-100 max-md:ml-0 max-md:w-full">
                          <div class="flex flex-col grow items-start text-black leading-[110%] max-md:mt-10">
                            <h3 style="font: 600 26px/109% 'SF Pro Display', sans-serif;color: black;">John Smith</h3>
                            <p class="mt-2 font-medium" style="font: 14px/109% 'SF Pro Display', sans-serif;color: black;">CEO | BET Medical</p>
                            <p class="self-stretch mt-2 leading-5" style="font:400 12px/18px 'Lato', sans-serif;color:#000">
                              Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos litora torquent per conubia nostra, per inceptos Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                            </p>
                            <a href="#" class="flex gap-2 justify-between px-4 py-2 mt-4 text-base leading-5 text-gray-900 whitespace-nowrap bg-white rounded border border-teal-400" style="border: 1px solid rgba(62, 178, 177, 1);">
                              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ee8dfe4a32f3b3d9538cd71707645b9330a1e3538515dbcfba497fc646462dc6?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="" class="shrink-0 aspect-[0.94] w-[18px]" />
                              <span class="my-auto text-ellipsis">LinkedIn</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>

              </div>
            </section>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-10">
                <div class="director-content director-content-1" style="font:400 18px/26px 'Lato', sans-serif;color:#4A4A4A">
                    <p class="mt-4">The healthy working environment provided has resulted in more than 40 % of 100 plus employees putting in more than 10 years of service in the organization. Constant drive to use the talents appropriately has led to good growth paths for many executives who have reached higher levels in the organization. Regular connect initiatives have further helped the bonding of employees with one another resulting in higher outputs and lesser wasted energies.</p>
                    <p class="mt-4">BET has the distinction of launching many of its products for the first time in country, and have been established as market leaders. Every product line launched by BET is done after a very extensive and careful study and technical evaluation of the product and manufacturers before launching in the Indian market. Today BET is known for the quality of products offered – safe and reliable.</p>
                    <p class="mt-4">From the beginning we had identified a huge gap in delivery of services to the end customer. Therefore, as a strategy we always wanted to offer committed after sales service. We can confidently say that there will be hardly any customers who will complain of the services offered by BET.</p>
                </div>
            </div>    
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
    <main>
        <h1 class="mt-12 text-4xl font-bold leading-10 text-gray-900 max-md:mt-10 max-md:max-w-full">
          Message From Director's
        </h1>
        <section class="mt-12 w-full max-w-[1267px] max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-[63%] max-md:ml-0 max-md:w-full">
              <article class="flex flex-col px-5 text-lg leading-7 text-neutral-600 max-md:mt-10 max-md:max-w-full">
                <h2 class="text-2xl font-bold leading-6 max-md:max-w-full">Lorem ipsum dolor sit</h2>
                <p class="mt-4 max-md:max-w-full">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore et dolore.
                </p>
                <p class="mt-4 max-md:max-w-full">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                </p>
              </article>
            </div>
            <div class="flex flex-col ml-5 w-[37%] max-md:ml-0 max-md:w-full">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ccd3c60f17c19877f4904eb990f2b67f39b6651a13713f381469289cc4d96b17?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Director's portrait" class="grow w-full aspect-[1.22] max-md:mt-10 max-md:max-w-full" />
            </div>
          </div>
        </section>
        <hr class="shrink-0 mt-16 max-w-full h-px border border-solid bg-zinc-100 border-zinc-100 w-[1268px] max-md:mt-10" />
        <section class="mt-9 w-full max-w-[1266px] max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
              <article class="grow p-5 w-full bg-teal-100 rounded-lg max-md:pr-5 max-md:mt-9 max-md:max-w-full">
                <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                  <div class="flex flex-col w-[38%] max-md:ml-0 max-md:w-full">
                    <div class="flex grow justify-center items-center max-md:mt-10">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad27915325822f32e1fa4d3eb02f90ccfb36fb0e4caae668c8cf5863467671f0?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="John Smith" class="border-white border-solid aspect-[0.93] border-[3px] w-[201px]" />
                    </div>
                  </div>
                  <div class="flex flex-col ml-5 w-[63%] max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col grow items-start text-black leading-[110%] max-md:mt-10">
                      <h3 class="text-2xl font-bold">John Smith</h3>
                      <p class="mt-4 text-sm font-medium">CEO | BET Medical</p>
                      <p class="self-stretch mt-4 text-xs leading-5 text-gray-900 whitespace-nowrap text-ellipsis">
                        Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos litora torquent per conubia nostra, per inceptos Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                      </p>
                      <a href="#" class="flex gap-2 justify-between px-4 py-2 mt-6 text-base leading-5 text-gray-900 whitespace-nowrap bg-white rounded border border-teal-400 border-solid">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ee8dfe4a32f3b3d9538cd71707645b9330a1e3538515dbcfba497fc646462dc6?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="" class="shrink-0 aspect-[0.94] w-[18px]" />
                        <span class="my-auto text-ellipsis">LinkedIn</span>
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
              <article class="grow p-5 w-full bg-teal-100 rounded-lg max-md:pr-5 max-md:mt-9 max-md:max-w-full">
                <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                  <div class="flex flex-col w-[38%] max-md:ml-0 max-md:w-full">
                    <div class="flex grow justify-center items-center max-md:mt-10">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3befcc94b4d2699ef8abbacc0bf7aa9b134a1343cfa69329f56a5f567f7dd450?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Sam Smith" class="border-white border-solid aspect-[0.93] border-[3px] w-[201px]" />
                    </div>
                  </div>
                  <div class="flex flex-col ml-5 w-[63%] max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col grow text-black leading-[110%] max-md:mt-10">
                      <h3 class="text-2xl font-bold">Sam Smith</h3>
                      <p class="mt-4 text-sm font-medium">Director | BET Medical</p>
                      <p class="mt-4 text-xs leading-5 text-gray-900 whitespace-nowrap text-ellipsis">
                        Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos litora torquent per conubia nostra, per inceptos Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                      </p>
                      <a href="#" class="flex gap-2 justify-between self-start px-4 py-2 mt-6 text-base leading-5 text-gray-900 whitespace-nowrap bg-white rounded border border-teal-400 border-solid">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f2cb25867ff4bbebeab1888612f82160e862194a5528d658c507f7d5657a5eda?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="" class="shrink-0 aspect-[0.94] w-[18px]" />
                        <span class="my-auto text-ellipsis">LinkedIn</span>
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section class="mt-10 text-lg leading-7 text-neutral-600 max-md:mt-10 max-md:max-w-full">
          <p>
            The healthy working environment provided has resulted in more than 40 % of 100 plus employees putting in more than 10 years of service in the organization. Constant drive to use the talents appropriately has led to good growth paths for many executives who have reached higher levels in the organization. Regular connect initiatives have further helped the bonding of employees with one another resulting in higher outputs and lesser wasted energies.
          </p>
          <p>
            BET has the distinction of launching many of its products for the first time in country, and have been established as market leaders. Every product line launched by BET is done after a very extensive and careful study and technical evaluation of the product and manufacturers before launching in the Indian market. Today BET is known for the quality of products offered – safe and reliable.
          </p>
          <p>
            From the beginning we had identified a huge gap in delivery of services to the end customer. Therefore, as a strategy we always wanted to offer committed after sales service. We can confidently say that there will be hardly any customers who will complain of the services offered by BET.
          </p>
        </section>
      </main>
        </div>
    </div> -->
</section>
<!--Director's Message End-->