<owl-carousel-o [options]="partnersliderOptions">
    <ng-template carouselSlide>

        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-1.jpg" style="width:60%" />
        </div>

    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-5.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-9.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-10.jpg" style="width:60%" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-2.jpg" style="width:60%"  />
        </div>
    </ng-template>
    <!-- <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-11.jpg" style="width:60%" />
        </div>
    </ng-template> -->
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-3.jpg" style="width:60%" />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-7.jpg" style="width:60%" />
        </div>
    </ng-template> 
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-8.jpg"style="width:60%"  />
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="d-flex justify-content-center">
            <img src="assets/images/home/partners/partner-12.jpg" style="width:60%" />
        </div>
    </ng-template>  
</owl-carousel-o>
