<!--Contact Info Start-->
<section class="contactinfo-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.74898898132!2d80.23311307425568!3d13.051643113119976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267cf59bcccc5%3A0x1f377689d0f648e!2sBET%20Medical%20Private%20Limited%20-%20Service!5e0!3m2!1sen!2sin!4v1681722628988!5m2!1sen!2sin" width="100%" height="450" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact_info">
                    <div class="section-title">
                        <h2 class="main-title">CORPORATE OFFICE</h2>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <div class="txt">
                            <h4>BET MEDICAL (P) LTD</h4>
                            <p>1st Floor, Malles manor</p>
                            <p>No.19 (Old No.8-A), Periyar Road,</p>
                            <p>T.Nagar, Chennai – 600 017.</p>
                            <p>Tamilnadu, India.</p>
                        </div>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="txt">
                            <h4>Phone</h4>
                            <p>+91-44-28344639, 28344640, 28344641</p>
                        </div>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="txt">
                            <h4>Email</h4>
                            <p>general@betmedical.com</p>
                            <p>sales@betmedical.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="contactinfo-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-lg-push-6">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14006.685332734805!2d77.17570269293991!3d28.63961099307096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02a32e9cd163%3A0x5a42535088d212b5!2sOld%20Rajinder%20Nagar%2C%20Rajinder%20Nagar%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1681726687389!5m2!1sen!2sin" width="100%" height="450" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-lg-pull-6">
                <div class="contact_info">
                    <div class="section-title">
                        <h2 class="main-title">REGIONAL OFFICE</h2>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <div class="txt">
                            <h4>BET MEDICAL (P) LTD</h4>
                            <p>30/50 Basement,</p>
                            <p>Old Rajinder Nagar,</p>
                            <p>Near Rajinder place Metro Station,</p>
                            <p>New Delhi: 110060, India.</p>
                        </div>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="txt">
                            <h4>Phone</h4>
                            <p>011-47561950 / 47561850</p>
                        </div>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="txt">
                            <h4>Email</h4>
                            <p>sales-north@betmedical.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="contactinfo-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0555634886678!2d77.59349547143312!3d13.032133685479572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17bc4ac03535%3A0xdd524fa0f2e09b2b!2s5th%20Main%20Rd%2C%20Hebbal%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1681726950351!5m2!1sen!2sin" width="100%" height="450" style="border: 0px; pointer-events: none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact_info">
                    <div class="section-title">
                        <h2 class="main-title">BANGALORE OFFICE</h2>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <div class="txt">
                            <h4>BET MEDICAL (P) LTD</h4>
                            <p>MuthammaNilaya,</p>
                            <p>House No 23, Ground Floor,</p>
                            <p>5th Main Road, Hebbal,</p>
                            <p>Bangalore - 560024.</p>
                            <p>Karnataka, India.</p>
                        </div>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="txt">
                            <h4>Phone</h4>
                            <p>+91-99450 97573</p>
                        </div>
                    </div>
                    <div class="icn_txt">
                        <div class="icn">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="txt">
                            <h4>Email</h4>
                            <p>sales-south2@betmedical.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Info End-->

<!--Contact Form Start-->
<section class="contactform-section pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2 class="main-title">Get In Touch</h2>
                </div>
                <form [formGroup]="contactForm" (ngSubmit)="contactSubmit()" class="contact-form">
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" formControlName="name" id="txtName" placeholder="Name *" class="form-control" />
                            <span class="invalid-feedback" *ngIf="submitted && !contactForm.get('name').valid && contactForm.get('name').errors['required']">Please Enter Your Name</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="email" formControlName="email" id="txtEmail" placeholder="Email *" class="form-control" />
                            <span class="invalid-feedback" *ngIf="submitted && !contactForm.get('email').valid && contactForm.get('email').errors['required']">Please Enter Your Email</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" formControlName="phone" id="txtPhone" placeholder="Phone Number *" class="form-control" />
                            <span class="invalid-feedback" *ngIf="submitted && !contactForm.get('phone').valid && contactForm.get('phone').errors['required']">Please Enter Your Phone Number</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" formControlName="subject" id="txtSubject" placeholder="Subject" class="form-control" />
                            <span class="invalid-feedback" *ngIf="submitted && !contactForm.get('subject').valid && contactForm.get('subject').errors['required']">Please Enter Your Title</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <textarea formControlName="comments" id="txtComments" placeholder="Message *" class="form-control"></textarea> 
                            <span class="invalid-feedback" *ngIf="submitted && !contactForm.get('comments').valid && contactForm.get('comments').errors['required']">Please Enter Your Message</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <input type="submit" value="Submit" />
                            <app-spinner></app-spinner>
                        </div>
                    </div>
                    <app-alert class="mt-4"></app-alert>
                </form>
                
            </div>
        </div>
    </div>
</section>
<!--Contact Form End-->