.detail-tab {
    text-align: center;
    display: block;
    margin-bottom: 30px;
    li {
        display: inline-block;
        .nav-link {
            margin-bottom: 0;
            background-color: #e1e1e1;
            border: 1px solid #e1e1e1;
            margin-right: 6px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            &.active {
                color: #fff;
                background-color: #4e555b;
                border-color: #4e555b;
            }
        }
    }
}
::ng-deep{
    .detail-tab-content {
        h3 {
            font-size: 24px;
            position: relative;
            padding-bottom: 15px !important;
            display: block;    
            margin-bottom: 20px !important;
            &:before {
                content: "";
                position: absolute;
                width: 55px;
                height: 5px;
                background: #3eb2b1;
                bottom: 0;
            }
        }
        h4 {
            font-size: 18px;
        }
        p {
            text-align: justify;
            margin-bottom: 10px; /*30px*/
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                color: #000;
                margin-bottom: 8px;
                position: relative;
                padding-left: 25px;
                &:before {
                    content: "\f058"; /*"\f0da"*/
                    position: absolute;
                    top: 0px;
                    left: 0;
                    font-family: 'Font Awesome\ 5 Pro';
                    font-weight: 900;
                    color: #16a19d;
                }
            }
        }
        table {
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #d3d3d3;
            color: #000;
            line-height: 26px;
            padding: 10px;
            thead {
                tr {
                    th {
                        background: #16a19d;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
            tr {
                th {
                    font-weight: 500;
                    padding: 10px;
                    border: 1px solid #d3d3d3;
                    color: #000;
                    line-height: 26px;
                }
                td {
                    padding: 10px;
                    border: 1px solid #d3d3d3;
                    color: #000;
                    line-height: 26px;
                }
            }
        }
    }
    .grid-gallery{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
       
    }
    .grid-gallery .grid-item{
        .gallery-detail-block {
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
            text-align: center;
            background: #fff;
            padding: 10px;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
        }
        .gallery-detail-img-wrap {
            position: relative;
            height: 200px;
            width: 100%;
        }
        .gd-image {
            object-fit: cover;
            object-position: top center;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

    } 
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    ::ng-deep{
        .detail-tab-content p {
            margin-bottom: 8px;
        }
        .detail-tab-content img {
            width: 100%;
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
    ::ng-deep{
        .detail-tab-content img {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 575px) { 
    ::ng-deep{
        .detail-tab-content img {
            width: 100%;
        }
    }
}