
<div class="image-map">
<img src="../../assets/Frame 292776.svg" alt="Our Locations">   
<div class="pin pin-down" data-xpos="115" data-ypos="125">  
  <h2>Willowbrook Place</h2>     
  <ul>
    <li><strong>123 Street Address</strong></li>
    <li>City, ST, 12345</li>
    <li><strong>(555) 555-5555</strong></li>
    <li><a href="#" target="_blank">Website</a></li>
    <li>Coming in Spring 2015</li>
  </ul>
</div>
<div class="pin pin-down" data-xpos="215" data-ypos="175">  
  <h2>Ambergrove Place</h2>     
  <ul>
    <li><strong>123 Street Address</strong></li>
    <li>City, ST, 12345</li>
    <li><strong>(555) 555-5555</strong></li>
    <li><a href="#" target="_blank">Website</a></li>
    <li>Coming in Spring 2015</li>
  </ul>
</div>
<div class="pin" data-xpos="255" data-ypos="65">  
  <h2>Chelsea Place</h2>     
  <ul>
    <li><strong>123 Street Address</strong></li>
    <li>City, ST, 12345</li>
    <li><strong>(555) 555-5555</strong></li>
    <li><a href="#" target="_blank">Website</a></li>
    <li>Coming in Spring 2015</li>
  </ul>
</div>
</div>
