<!--Slider Start-->
<section >


    <app-homeslider></app-homeslider>


</section>

<!-- <section class="flex flex-col min-h-[575px] justify-center text-center text-white bg-zinc-100">  -->



<!-- <div class="flex overflow-hidden relative flex-col items-center px-20 py-16 w-full h-full max-md:px-5 max-md:max-w-full"> 
    <img loading="lazy" src="../../assets/frame-292397@3x.png" alt="" class="object-cover absolute inset-0 size-full" /> 
    <h1 class="relative text-5xl font-bold leading-[50.74px] text-white">Endonaut Fusion Imaging & Navigation</h1> 
    <p class="relative justify-center px-3 py-1 mt-4 max-w-full text-xl leading-7 w-[608px] max-md:max-w-full"> 
      <span class="text-white">Make your OR ready for new challenges with Endonaut, unique image fusion
        systems compatible with any imaging modality and C-arm.</span><br>
    </p> 
  </div>  -->

<!-- <section class="flex flex-col min-h-[575px] justify-center text-center text-white bg-zinc-100">


  <div class="relative flex flex-col items-center w-full h-1000px overflow-hidden">
    <img loading="lazy" src="../../assets/frame-292397@3x.png" alt=""
      class="relative z-0 w-auto  max-w-none max-md:h-[80vh]" />
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-3 py-1">
      <h1 class="text-5xl font-bold leading-[50.74px] text-white max-md:text-3xl">Endonaut Fusion Imaging & Navigation
      </h1>
      <p class="mt-4 text-xl leading-7 text-white w-[608px] max-md:w-auto max-md:px-4">
        Make your OR ready for new challenges with Endonaut, unique image fusion
        systems compatible with any imaging modality and C-arm.
      </p>
    </div>
  </div>


</section> -->

<!--Slider End-->
<!--Global Partners Start-->
<section class="global-partners pad-tb">
  <header class="text-center" style="color: #000;font:Lato, sans-serif; font-size: 30px; font-weight: 400;">Principles Partners</header> 
  <div class="container mt-2">
    <div class="row1">
      <div class="col-lg-12 col-md-12">
        <app-parnerslider></app-parnerslider>
      </div>
    </div>
  </div>
</section>
<section class="global-partners">
  <header class="text-center" style="color: #000;font:Lato, sans-serif; font-size: 30px; font-weight: 400;">Certifications</header> 
  <div class="container mt-2">
    <div class="row2">
      <div class="col-lg-12 col-md-12">
        <app-parnerslider2></app-parnerslider2>
      </div>
    </div>
  </div>
</section>
<!--Global Partners End-->
<!--About Start-->
<!-- <section class="about-section">
  <div class="container"> -->
    <!-- <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="abt-img-wrapper">
                    <img src="assets/images/about.jpg" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2 class="main-title">About Us</h2>
                    </div>
                    <p>Since 1991 BET Medical is a responsible and innovative organization that has introduced several groundbreaking technologies in the healthcare industry. For instance, the table-top sliding on the operation theatre table, which is now widely used, was first introduced and backed by BET Medical over 25 years ago. Similarly, the first flat panel 3D C-Arm and 4-way motorized flat panel C-arm machines in India and Asia were sold and installed by BET Medical, respectively. First to Introduce Therenva Vascular Fusion Imaging and Navigation workstation.</p>
                    <p>Responsibility is at the core of BET Medical’s operations, starting with not over-selling products and ensuring the use of contemporary technology to add value to customers through better pricing, service, and support. The company’s sales and service teams are dedicated to providing a comprehensive range of products and brands, cementing strong partnerships with principals in Germany, Taiwan, Japan, USA, Italy, and Korea for the past 33 years.</p>
                </div>
            </div>
        
        </div> -->
        <section class="flex flex-col justify-center text-center text-white bg-zinc-100 mt-10">
          <div
            class="flex overflow-body relative flex-col items-center px-10 py-16 w-full min-h-[251px] max-md:px-5 max-md:max-w-full">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/73818c9b2fe55cdfb7644c23ddfc3ae6bb1168539ddd2d3de76c1e0ae4f7bf77?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&"
              alt="" class="object-cover absolute inset-0 size-full" />
              <!-- <button class="relative text-5xl font-bold leading-[50.74px] bg-teal-400 p-2text-white" style="font: 700 20px/35px 'SF Pro Display', sans-serif; ">Large button</button> -->
              <h1 class="relative text-5xl font-bold leading-[50.74px] bg-teal-400 p-2 border-radius-20 text-white" style="font: 700 20px/35px 'SF Pro Display', sans-serif;border-radius: 8px;">MISSION</h1>
            <h1 class="relative text-5xl mt-3 font-bold leading-[50.74px] text-white" style="font: 700 36px/35px 'SF Pro Display', sans-serif">LARGEST AND MOST PREFERRED</h1>
            <p class="relative justify-center px-3 py-1 mt-4 max-w-full text-xl leading-7 w-[608px] max-md:max-w-full" style="font: 400 20px/20px 'Lato', sans-serif">
              <span class="text-white">To become the leading and most preferred medical equipment</span><br>
              <span class="text-white">company by earning the trust of the healthcare industry.</span>
            </p>
          </div>
        </section>

    <!-- <section class="about-section pad">
      <div class="flex gap-5 max-md:flex-col max-md:gap-0 container responsive-container">
        <figure class="flex flex-col max-md:w-70">
          <img loading="lazy"
            src="../../assets/Group 292565.png"
            alt="Image of BET Medical innovations" class="w-70 aspect-[1.37] max-md:mt-10" />
        </figure>
        <article class="fle col flex-col max-md:w-full">
          <div class="flex flex-col max-md:mt-10">
            <h1 class="" style="font-family:'SF Pro Display', sans-serif;font-size:32px;font-weight: bold;color:#0E1923">About Us</h1>
            <p class="mt-3 leading-6" style="font:400 18px/130% 'Lato', sans-serif;color:#4a4a4a">
              BET Medical is a responsible and innovative organization that has introduced several groundbreaking
              technologies in the healthcare industry. For instance, the table-top sliding on the operation theatre
              table, which is now widely used, was first introduced and backed by BET Medical over 25 years ago.
              Similarly, the first flat panel 3D C-Arm and 4-way motorized flat panel C-arm machines in India and Asia
              were sold and installed by BET Medical, respectively. First to Introduce Therenva Vascular Fusion Imaging
              and Navigation workstation.
              <br /><br />
              Responsibility is at the core of BET Medical’s operations, starting with not over-selling products and
              ensuring the use of contemporary technology to add value to customers through better pricing, service, and
              support. The company’s sales and service teams are dedicated to providing a comprehensive range of
              products and brands, cementing strong partnerships with principals in Germany, Taiwan, Japan, USA, Italy,
              and Korea for the past 33 years.
            </p>
          </div>
        </article>
      </div>
    </section> -->

  <!-- </div> -->
<!-- </section> -->
<!--About End-->
<!--Mission Start-->
<!-- <section class="mission-section pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 large_left">
                <div class="mission-wrap">
                    <div class="mission-img">
                        <div class="mission-inner-img">
                            <img src="assets/images/mission1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 large_right">
                <div class="mission-text">
                    <h2>Mission</h2>
                    <p>To be the <span class="red-text">L</span>argest <span class="red-text">A</span>nd <span class="red-text">M</span>ost <span class="red-text">P</span>referred medical equipment company by winning the confidence of the healthcare industry.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1">
        <img src="assets/images/shape-3.png" alt="">
    </div>
    <div class="shape-2">
        <img src="assets/images/shape-2.png" alt="">
    </div>
</section> -->


<!--Mission End-->

<!--Product Categories Start-->
<!-- <section class="service-wraper hproduct-categories">
    <div class="row align-items-center">
        <div class="flex flex-col items-center justify-center gap-[44px]">
            <content></content>
        </div>
    </div>
</section> -->
<section>
  <content></content>
</section>
<!--Product Categories End-->

<section>
  <blog></blog>
</section>

<section>
  <expert></expert>
</section>

<!--Map Video Start-->
<section class="map-video pad-tb">
  <header class="self-center text-2xl text-center text-black uppercase">
    LOCATION
  </header>
  <h1 class="self-center mt-2 text-4xl font-bold leading-10 text-center text-black">
    PARTNERS LOCATION
  </h1>
  <div class="wrap d-flex justify-content-center align-items-center image-map">
    <img src="../../assets/Frame 292776.svg">
     <!-- <app-image-with-tooltip></app-image-with-tooltip> -->
  </div>
  


</section>
<!--Map Video End-->