::ng-deep {
    app-breadcrumb {
        .breadcrumb_wrap {
            padding: 42px 0!important;
        }
        
    }
    .blog-detail-info{
        .blog-detail-info-content{
                padding-bottom:50px;
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: #333;
                font-family: Lato, sans-serif;
                // padding-bottom:15px;
            p, span{
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: #333;
                font-family: Lato, sans-serif;
                padding-bottom:15px;
                p, span{
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #333;
                    font-family: Lato, sans-serif;
                    padding-bottom:15px;
                }
                h1, h2, h3, h4, h5, h6{
                    font-weight:600;
                    color:#0560E8 !important;
                    padding-top:10px;
                    font-family: "SF Pro Display", sans-serif;
                }
                ul{
                    padding-bottom:15px;
                    li{
                        line-height: 34px;
                    }
                }
            }
            h1, h2, h3, h4, h5, h6{
                font-weight:600;
                color:#0560E8 !important;
                padding-top:10px;
                font-family: "SF Pro Display", sans-serif;
            }
            ul{
                padding-bottom:15px;
                padding-top:10px;
                li{
                    line-height: 34px;
                }
            }
            p{
                p, span{
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #333;
                    font-family: Lato, sans-serif;
                    padding-bottom:15px;
                }
                h1, h2, h3, h4, h5, h6{
                    font-weight:600;
                    color:#0560E8 !important;
                    padding-top:10px;
                    font-family: "SF Pro Display", sans-serif;
                }
                ul{
                    padding-bottom:15px;
                    padding-top:10px;
                    li{
                        line-height: 34px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width:767px){
        .blog-detail-info{
            .blog-detail-info-content{
                h1{
                    font-size:30px;
                }
                h2{
                    font-size:26px;   
                }
                h3{
                    font-size:24px;
                }
                h4{
                    font-size:20px;
                }
                h5{
                    font-size:16px;
                }
                h6{
                    font-size:14px;
                }
            }
        }
    }
}
.blog-detail{
    background:#F3F3F3AF;
    .blog-detail-title{
        img{
            width:100%;
            border-radius:8px;
        }
        h2{
            font-size: 38px;
            line-height: 54px;
            font-weight: 600;
            color: #000;
            padding-top: 10px;
            padding-bottom: 15px;
            font-family: "SF Pro Display", sans-serif;
        }
        p{
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            color: #333;
            font-family: Lato, sans-serif;
        }
        p.author{
            font-size: 18px;
            line-height: 28px;
            font-weight: 600;
            color: #333;
            font-family: "SF Pro Display", sans-serif;
            padding-top:15px;
        }
    }
}
.blog-detail-info{
    .blog-detail-info-content{
            padding-bottom:50px;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: #333;
            font-family: Lato, sans-serif;
            // padding-bottom:15px;
        p, span{
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: #333;
            font-family: Lato, sans-serif;
            padding-bottom:15px;
            p, span{
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: #333;
                font-family: Lato, sans-serif;
                padding-bottom:15px;
            }
            h1, h2, h3, h4, h5, h6{
                font-weight:600;
                color:#0560E8 !important;
                padding-top:10px;
                font-family: "SF Pro Display", sans-serif;
            }
            ul{
                padding-bottom:15px;
                li{
                    line-height: 34px;
                }
            }
        }
        h1, h2, h3, h4, h5, h6{
            font-weight:600;
            color:#0560E8 !important;
            padding-top:10px;
            font-family: "SF Pro Display", sans-serif;
        }
        ul{
            padding-bottom:15px;
            li{
                line-height: 34px;
            }
        }
        p{
            p, span{
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: #333;
                font-family: Lato, sans-serif;
                padding-bottom:15px;
            }
            h1, h2, h3, h4, h5, h6{
                font-weight:600;
                color:#0560E8 !important;
                padding-top:10px;
                font-family: "SF Pro Display", sans-serif;
            }
            ul{
                padding-bottom:15px;
                li{
                    line-height: 34px;
                }
            }
        }
    }
    .blog-detail-info-cat{
        h1{
            font-size: 32px;
            line-height: 38px;
            font-weight: 600;
            color: #000;
            padding-top: 10px;
            padding-bottom: 15px;
            font-family: "SF Pro Display", sans-serif;
        }
        .blog-detail-info-cat-split{
            background:#CEF5F5;
            border-radius:24px;
            padding:30px;
            .blog-detail-info-cat-split-right{
                position:relative;
                .sc_icon{
                    position:absolute;
                    width: 60px;
                    height: 60px;
                    z-index: 1000;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border:5px solid #ff00003b;
                    border-radius:100px;
                }
                a{
                    background:none;
                    padding:0;
                    margin-top:0;
                }
            }
            h1{
                font-size: 32px;
                line-height: 38px;
                font-weight: 600;
                color: #000;
                padding-top: 10px;
                padding-bottom: 5px;
                font-family: "SF Pro Display", sans-serif;
            }
            p{
                color:#5A5A5A;
                font-size: 18px;
                line-height: 23px;
                font-weight: 400;
                font-family: Lato, sans-serif;
            }
            a{
                font-size: 20px;
                line-height: 26px;
                font-weight: 600;
                color:#fff;
                background:#3EB2B1;
                border-radius:8px;
                padding:10px 20px 12px 20px;
                display:inline-block;
                margin-top:20px;
                text-decoration:none;
            }
            img{
                width:100%;
                border-radius:28px;
            }
        }
    }
}
.blog-detail-block{
    background:url('../../../../assets/blog_info_banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    h1{
        font-size: 32px;
        line-height: 40px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 5px;
        font-family: "SF Pro Display", sans-serif;
        padding-left: 50px;
        padding-right: 50px;
    }
    a{
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        color: #fff;
        padding:10px 20px 12px 20px;
        font-family: "SF Pro Display", sans-serif;
        background:#3EB2B1;
        margin-top:20px;
        text-decoration:none;
        border-radius: 8px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: inline-block
    }
}
@media only screen and (max-width:767px){
    .blog-detail-info{
        .blog-detail-info-cat{
            h1{
                font-size: 20px;
                line-height: 28px;
            }
            .blog-detail-info-cat-split{
                padding:20px;
                h1{
                    font-size: 20px;
                    line-height: 28px;
                }
                a{
                    margin-bottom:20px;
                    font-size: 16px;
                    line-height: 24px;
                    padding:8px 20px 10px 20px;
                }
            }
        }
    }
    .blog-detail-block{
        h1{
            font-size: 20px;
            line-height: 26px;
            padding-left: 0px;
            padding-right: 0px;
        }
        a{
            font-size: 16px;
            line-height: 24px;
            padding:8px 20px 8px 20px;
        }
    }
    .blog-detail{
        .blog-detail-title{
            h2{
                font-size: 26px;
                line-height: 34px;
            }
        }
    }
}