<section class="justify-center items-center bg-opacity-70 max-md:px-5 l_blog_head"> 
  <div class="l_blog_header">
    <header class="text-center pb-3" style="">OUR BLOGS</header> 
    <h1 class="mt-2 portfolio-header leading-10 text-center max-md:max-w-full">
      Latest Product, Technologies, & Resources
    </h1> 
  </div>
</section>
<section class="flex flex-col justify-center items-center px-20 py-10 bg-opacity-70 max-md:px-5 l_blog" style="background-color: #FFF;"> 
    

    <div class="gap-10" *ngIf="datas">
      <section class="portfolio-content" >
        <article *ngFor="let item of datas; let i=index;" class="shadow-[0px_12px_16px_-4px_rgba(16,_24,_40,_0.08)] flex flex-col px-6 pt-6 pb-8 shrink-0 rounded-xl bg-white portfolio-item">
          <img loading="lazy" src="{{asset_url}}/blogs/{{item.image}}" alt="Design Image" class="w-full aspect-[1.47]" /> 
          <p class="mt-8 text-sm font-bold leading-5 text-violet-700">{{item.category}}</p>
          <h2 class="flex gap-4 mt-3 text-2xl font-semibold leading-8 text-gray-900">
            <a routerLink="/blog/{{item.slug}}">{{item.title}}</a>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/371ea0539ab50a67fde5cc23e22ee9eed24f46b2606f8405e128a55a1a356a38?apiKey=e4359e71dc7544f59d6c1a8f2e8a7240&" alt="Icon" class="z-10 shrink-0 my-auto w-6 aspect-square" />
          </h2> 
          <p class="mt-3 text-lg leading-6 text-gray-500" [innerHtml]="item.short_desc"></p> 
          <div class="flex gap-3 self-start mt-10"> 
            <img loading="lazy" src="{{asset_url}}/blogs/author/{{item.author_img}}" class="shrink-0 w-10 aspect-square"/> 
            <div class="flex flex-col"> 
              <span class="text-base font-medium text-gray-900">{{item.author}}</span>
              <time class="text-sm leading-5 text-gray-500">{{item.created_at | date:'dd MMM YYYY' }}</time>
            </div>
          </div> 
        </article>
      </section>
    </div> 

</section>